{% extends 'base.html.twig' %}

{% block title %} Réinitialisation de mot de passe {% endblock %}

{% block body %}

    <section class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-8 offset-3 mt-3">
                <h1> Réinitialisation de mot de passe </h1> 
                {{ form_errors(PassForm) }}
                {{ form_start(PassForm) }}
                    {{ form_row(PassForm.password) }}
                        <button class="btn btn-lg btn-success mt-3" type="submit">
                            Envoyer
                        </button>
                {{ form_end(PassForm) }}
            </div>
        </div>
    </section>

{% endblock %}