{% extends 'base.html.twig' %}

{% block title %}Akwaba
{% endblock %}

{% block body %}
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
					<h1>Bienvenue sur la meilleure plateforme d'exchange de Crypto-monnaies</h1>
					<h2>Notre équipe en ligne est disponible pour vous guider pas à pas.</h2>
					<div class="d-flex justify-content-center justify-content-lg-start">
						<a href="#" class="btn-get-started scrollto">Connexion</a>
						<a href="#" class="glightbox btn-watch-video">
							<i class="bi bi-play-circle"></i>
							<span>comment ça marche ?</span>
						</a>
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="50">
					<img src="images/accueil.png" class="img-fluid animated" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
    
	<main id="main">
		<!-- ======= Services Section ======= -->
		<section id="services" class="services section-bg">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>Nos Services</h2>
					<p>Pour tous besoins en Achat/Vente ; Formations ou Gestion de Portefeuille... Vous êtes le bienvenue!!!</p>
				</div>

				<div class="row">
					<div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bxl-dribbble"></i>
							</div>
							<h4>
								<a href="">Achat et Vente de Crypto-monnaies</a>
							</h4>
							<p>Faites aisément vos achats et ventes de crypto-monnaies avec nos multiples moyens de paiement.</p>
						</div>
					</div>

					<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-file"></i>
							</div>
							<h4>
								<a href="">Formations en Crypto-monnaies et Trading</a>
							</h4>
							<p>Venez vous faire former par les meilleurs coachs qui vous expliquerons tout de A à Z.</p>
						</div>
					</div>

					<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-tachometer"></i>
							</div>
							<h4>
								<a href="">Gestion de Portefeuille</a>
							</h4>
							<p>Vous avez du capital nous le fructifions pour vous avec les meilleurs taux de RSI du moments.</p>
						</div>
					</div>

					<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-layer"></i>
							</div>
							<h4>
								<a href="">Developpement Personnel et Coaching</a>
							</h4>
							<p>Le Developpement personnel et coaching avec les meilleurs psychologues.
							</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Services Section -->
		<!-- ======= Team Section ======= -->
		<section id="team" class="team section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Notre Equipe</h2>
					<p>Une équipe jeune et dynamique à votre service pour répondre à tous vos besoins.</p>
				</div>

				<div class="row">

					<div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
						<div class="member d-flex align-items-start">
							<div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Walter White</h4>
								<span>Chief Executive Officer</span>
								<p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
								<div class="social">
									<a href="">
										<i class="ri-twitter-fill"></i>
									</a>
									<a href="">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="">
										<i class="ri-instagram-fill"></i>
									</a>
									<a href="">
										<i class="ri-linkedin-box-fill"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
						<div class="member d-flex align-items-start">
							<div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Sarah Jhonson</h4>
								<span>Product Manager</span>
								<p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
								<div class="social">
									<a href="">
										<i class="ri-twitter-fill"></i>
									</a>
									<a href="">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="">
										<i class="ri-instagram-fill"></i>
									</a>
									<a href="">
										<i class="ri-linkedin-box-fill"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
						<div class="member d-flex align-items-start">
							<div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>William Anderson</h4>
								<span>CTO</span>
								<p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
								<div class="social">
									<a href="">
										<i class="ri-twitter-fill"></i>
									</a>
									<a href="">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="">
										<i class="ri-instagram-fill"></i>
									</a>
									<a href="">
										<i class="ri-linkedin-box-fill"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
						<div class="member d-flex align-items-start">
							<div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Amanda Jepson</h4>
								<span>Accountant</span>
								<p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
								<div class="social">
									<a href="">
										<i class="ri-twitter-fill"></i>
									</a>
									<a href="">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="">
										<i class="ri-instagram-fill"></i>
									</a>
									<a href="">
										<i class="ri-linkedin-box-fill"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Team Section -->
		<!-- ======= Frequently Asked Questions Section ======= -->
		<section id="faq" class="faq section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Réponses aux questions fréquentes</h2>
					<p>Ce que vous devez savoir avant de vous lancer !</p>
				</div>

				<div class="faq-list">
					<ul>
						<li data-aos="fade-up" data-aos-delay="100">
							<i class="bx bx-help-circle icon-help"></i>
							<a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Q1 - Comment faire une transaction ?
								<i class="bx bx-chevron-down icon-show"></i>
								<i class="bx bx-chevron-up icon-close"></i>
							</a>
							<div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
								<p>
									R : Pour effectuer une transaction, il faut :<br>
									✔ Se connecter à son compte MOAYEXCHANGE<br>
									✔ Sélectionner la rubrique ‘’je donne’’ et ‘’je reçois’’ selon votre convenance<br>
									✔ Suivre les indications sur la plateforme afin d’être débité de votre compte et de recevoir de façon automatique votre paiement.
								</p>
							</div>
						</li>

						<li data-aos="fade-up" data-aos-delay="200">
							<i class="bx bx-help-circle icon-help"></i>
							<a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Q2 - Que faire lorsqu’une transaction de Bitcoin prend du temps ?
								<i class="bx bx-chevron-down icon-show"></i>
								<i class="bx bx-chevron-up icon-close"></i>
							</a>
							<div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
								<p>
									R : Les transactions de crypto-monnaies prennent du temps car il faut qu’elles soient à 2 confirmations au moins avant que le paiement ne passe sur MOAYEXCHANGE. Cet état de chose est 
									                    lié à la technologie blockchain et il faut donc patienter un moment ou envoyer l’id (le hash) de la transaction au service client en ligne pour plus d’assistance lorsqu'après
									                     deux niveaux de confirmation, vous êtes restés sans suite de paiement.
								</p>
							</div>
						</li>

						<li data-aos="fade-up" data-aos-delay="300">
							<i class="bx bx-help-circle icon-help"></i>
							<a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Q3 - Que faire lorsque votre compte a été débité mais vous n’aviez pas été crédité en retour ?
								<i class="bx bx-chevron-down icon-show"></i>
								<i class="bx bx-chevron-up icon-close"></i>
							</a>
							<div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
								<p>
									R : Pour toute transaction où votre compte a été débité et vous n’aviez pas été crédité en retour, il faudra fournir au service client en ligne ou via Whatsapp au +225 0545211998 :<br>
									✔ La preuve de votre paiement (une capture d’écran qui montre que vous aviez réellement envoyé l’argent sur notre compte)<br>
									✔ Le numéro avec lequel vous aviez validé le paiement (s’il s’agit d’un dépôt de FCFA)<br>
									✔ L’adresse mail avec laquelle vous aviez fait l’opération sur MOAYEXCHANGE<br>
									✔ La date d’envoi<br>
									✔ La capture d’écran du message que MOAYEXCHANGE vous a envoyé dans votre mail (s’il s’agit d’une vente de crypto monnaies pour recevoir du FCFA )<br>
									✔ L’id de la transaction/hash/Txhash/Hacher (s’il s’agit d’une vente de crypto monnaies pour recevoir du FCFA )<br>
									✔ L’adresse de réception sur laquelle vous aimeriez recevoir.
								</p>
							</div>
						</li>

						<li data-aos="fade-up" data-aos-delay="400">
							<i class="bx bx-help-circle icon-help"></i>
							<a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Q4 - Quel est le minimum pour effectuer les achats sur le site ?
								<i class="bx bx-chevron-down icon-show"></i>
								<i class="bx bx-chevron-up icon-close"></i>
							</a>
							<div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
								<p>
									R : Le minimum requis est l’équivalent en FCFA de 2$ sur la plateforme. Rappelons aussi que le minimum est fonction de la cryptomonnaie voulue et donc de la quantité à acheter; ce minimum n'est pas valable pour toutes les cryptomonnaies.
								</p>
							</div>
						</li>
						<li data-aos="fade-up" data-aos-delay="500">
							<i class="bx bx-help-circle icon-help"></i>
							<a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Q5 - comment faire la vérification du compte MOAYEXCHANGE (kyc) ?
								<i class="bx bx-chevron-down icon-show"></i>
								<i class="bx bx-chevron-up icon-close"></i>
							</a>
							<div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
								<p>
									Vérifier son compte se fait en trois étapes;<br>
									✔ vérifier son identité avec une pièce valide donc qui porte les nom et prénoms renseignés lors de votre inscription;<br>
									✔ envoyer un selfie qui nous permet de savoir que vous existez réellement;<br>
									✔ envoyer un document qui permet de vérifier une votre adresse (certificat de résidence, une facture d’électricité qui porte votre nom ou qui vérifie que vous habitez dans tel ou tel domicile, ou encore un relevé bancaire.<br>
									NB: Rappelons qu’après les deux premières étapes, MOAYEXCHANGE vous offre la possibilité d’effectuer des transactions le temps que vous fassiez la vérification de votre adresse plus tard. N’empêche que cette vérification est bien importante. Aussi toute notification concernant votre vérification vous est envoyée dans votre adresse mail.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- End Frequently Asked Questions Section -->
		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Nous Contacter</h2>
					<p>Veuillez bien remplir ce formulaire afin de nous contactez.</p>
				</div>

				<div class="row">

					<div class="col-lg-5 d-flex align-items-stretch">
						<div class="info">
							<div class="address">
								<i class="bi bi-geo-alt"></i>
								<h4>Localisation:</h4>
								<p>Abobo Belleville Abidjan, Route d'Alépé</p>
							</div>

							<div class="email">
								<i class="bi bi-envelope"></i>
								<h4>Email:</h4>
								<p>infoline@moayexchange.ci</p>
							</div>

							<div class="phone">
								<i class="bi bi-phone"></i>
								<h4>Cel:</h4>
								<p>+225 0545211998</p>
							</div>

							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
						</div>

					</div>

					<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
						<form action="forms/contact.php" method="post" role="form" class="php-email-form">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="name">Votre Nom:</label>
									<input type="text" name="name" class="form-control" id="name" required>
								</div>
								<div class="form-group col-md-6">
									<label for="name">Votre Email:</label>
									<input type="email" class="form-control" name="email" id="email" required>
								</div>
							</div>
							<div class="form-group">
								<label for="name">Objet:
								</label>
								<input type="text" class="form-control" name="subject" id="subject" required>
							</div>
							<div class="form-group">
								<label for="name">Message:</label>
								<textarea class="form-control" name="message" rows="10" required></textarea>
							</div>
							<div class="my-3">
								<div class="loading">Chargement</div>
								<div class="error-message"></div>
								<div class="sent-message">Votre message a bien été envoyé avec succes !</div>
							</div>
							<div class="text-center">
								<button type="submit">Envoyer</button>
							</div>
						</form>
					</div>

				</div>

			</div>
		</section>
		<!-- End Contact Section -->
		<!-- ======= Clients Section ======= -->
		<section id="clients" class="clients section-bg">
			<div class="container">
				<div class="section-title">
					<h2>Nos Partenaires</h2>
				</div>
				<div class="row" data-aos="zoom-in">

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/Binance-Logo.wine.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/full-gate.io-logo.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/full-lbank-logo.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/Coinbase.svg.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/full-kucoin-logo.png" class="img-fluid" alt="">
					</div>

					<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
						<img src="images/horizontal_blue.png" class="img-fluid" alt="">
					</div>

				</div>

			</div>
		</section>
		<!-- End Cliens Section -->
	</main>
	<!-- End #main -->


{% endblock %}
