<form method="post" action="{{ path('app_comptes_delete', {'id': compte.id}) }}" onsubmit="return confirm('Etes vous sure d'effectuer cette action ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.id) }}">
    <button class="btn btn-lg btn-danger mt-2">Supprimer</button>
</form>
