<header id="header" class="fixed-top" >
	<div class="container d-flex align-items-center">
		<h1 class="logo me-auto">
            <img src="images/logo.png" alt="Logo du site" id="logo"/><a href="index.html">MOAYEXCHANGE</a>
		</h1>
		<nav id="navbar" class="navbar">
			<ul>
				<li>
					<a class="nav-link scrollto active" href="#hero">Accueil</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#services">Nos Services</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#team">Equipes</a>
				</li>
				<li>
					<a class="nav-link scrollto" href="#faq">FAQ</a>
				</li>
                </li>
                <li>
                    <a class="nav-link scrollto" href="#contact">Nous Contacter</a>
                </li>
                <li>
                    <a class="getstarted scrollto" href="#">Connexion</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
	    </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
