<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="{{path('home')}}" aria-expanded="false"><i class="me-3 fas fa-home fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">Accueil</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="#" aria-expanded="false">
                            <i class="me-3 fab fa-bitcoin" aria-hidden="true"></i><span
                                class="hide-menu">Binance direct</span></a>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="#" aria-expanded="false">
                            <i class="me-4 fas fa-sync" aria-hidden="true"></i><span
                                class="hide-menu">Passer une commande</span></a>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="{{path('profil')}}" aria-expanded="false">
                            <i class="me-3 fa fa-user" aria-hidden="true"></i><span
                                class="hide-menu">Profil</span></a>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="#" aria-expanded="false"><i class="me-3 fas fa-people-carry"
                                aria-hidden="true"></i><span class="hide-menu">P2P</span></a>
                    </li>
                    {# <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href=" {{path('annonces')}} " aria-expanded="false"><i class="me-3 fa fa-font"
                                aria-hidden="true"></i><span class="hide-menu">Comm</span></a></li> #}
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="#" aria-expanded="false"><i class="me-3 fa fa-globe"
                                aria-hidden="true"></i><span class="hide-menu">Marchés</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="#" aria-expanded="false"><i class="me-3 fa fa-columns"
                                aria-hidden="true"></i><span class="hide-menu">Portefeuille</span></a></li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
</div>