{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h2>Modification TauxChange</h2>

    {{ include('admin/taux_change/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_taux_change_index') }}">retour</a>

    {{ include('admin/taux_change/_delete_form.html.twig') }}
{% endblock %}
